
/* Regra
seletores(o que vou dar estilo) / chaves(abro e fecho) / 
declaracoes / propriedade + valor  */

/* seletor* de eu colocar um seletor 
"*"ele vai aplicar pra tudo na pagina /body{
    background-color: rgb(144, 194, 239);
}
h1{
    color: white;
}
p{
    color: white;
    border: 2px solid white;
    max-width: 400px;
}
button{
    border: none;
    background-color: black;
    color: white;
}
/* 
separando os elementos por div 
fica mais facil manipular as coisas
*/

.esquerda button { /* quero crias declaracoes do botao da 
                      div esquerda */
    background-color: blueviolet;
   

}
.direita button{
    background-color: brown;
}
/* 
se eu nao especificar ele vai pintar 
todos os botoes , por isso o nome 
estilo em cascata.
*/

/*
tipos de seletores

*/

a{
    color: blue;
    font-weight: 500;
    text-decoration: none;
}
button {
    width: 120px;
    height: 40px;
}

.btn-enviar.btn-cadastrar{
    background-color: black;
    color: white;
    border-radius: 20px ;
}
.btn-cadastrar:hover{
    background-color: black; 
}
ol li{
    color: blueviolet;
}
ol li:nth-child(3){
    color: blue;
}
ol li:first-child{
    color: black;
}
ol li:last-child{
    color: aqua;
}